@page "/client/dashboard"
@using HelpDesk_Benedict.Components.Modals
@using HelpDesk_Benedict.Models
@using HelpDesk_Benedict.Services
@using Microsoft.AspNetCore.Authorization
@inject TicketService ticketService
@inject UserDataService userService
@attribute [Authorize(Roles = "Dozent")]
@rendermode InteractiveServer

<div class="container my-5">
    <Button class="top-button rounded-3 bg-black text-white" @onclick="openModalCreateTicket">
        Create Ticket
        <i class="bi bi-chevron-down"></i>
    </Button>
    <div class="row">
        <div class="col-md-6 text-center align-items-center">
            <Card Class="rounded-5 shadow p-3 bg-light">
                <CardBody>
                   <div class="d-flex justify-content-between gap-5">
                       <div class="d-flex flex-column gap-4">
                            <h2 class="text-black ">Open </h2>
                            <p>@openTickets</p>
                       </div>
                        <div class="d-flex flex-column gap-4">
                            <h2 class="text-black ">Completed</h2>
                            <p>@completedTickets</p>
                        </div>
                   </div>
                </CardBody>
            </Card>
        </div>
        
    </div>
    <div class="flex user-select-none" style="flex:1">
        <table class="table ticket-table">
            <thead>
                <tr>
                    <th scope="col">Title<span class="sort-icon bi bi-sort-alpha-down" /></th>
                    <th scope="col">Description<span class="sort-icon bi bi-sort-alpha-down" /></th>
                    <th scope="col">Created At<span class="sort-icon bi bi-sort-alpha-down" /></th>
                    <th scope="col">Status<span class="sort-icon bi bi-sort-alpha-down" /></th>
                    <th scope="col">Room<span class="sort-icon bi bi-sort-alpha-down" /></th>
                    <th scope="col">Floor<span class="sort-icon bi bi-sort-alpha-down" /></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in TicketList) {
                    <tr @onclick="() => openModalDetails(ticket)" class="tr-item">
                        <td>@ticket.Title</td>
                        <td>@Truncate(ticket.Description, 30)</td>
                        <td>@ticket.CreatedAt</td>
                        <td>@ticket.Status</td>
                        <td>@ticket.Room.Name</td>
                        <td>@ticket.Room.Floor</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <Modal @ref=modal Class="modal-left"></Modal>
</div>

<Modal @ref="modal" OnTicketCreated="CreateTicket"></Modal>
@code {
    private Modal modal;
    private int openTickets;
    private int completedTickets;
    private List<Ticket> TicketList = new List<Ticket>();

    protected override async Task OnInitializedAsync()
    {
        await LoadTicketsAsync();
    }

    private async Task openModalCreateTicket() {
        var parameters = new Dictionary<string, object>();
        parameters.Add("OnClickCallback", EventCallback.Factory.Create<Ticket>(this, CreateTicket));

        try
        {
            await modal.ShowAsync<CreateTicketModal>(title: "Create Ticket", parameters: parameters);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error opening modal: {ex.Message}");
        }

    }
   
    private async Task openModalDetails(Ticket ticket) {
        var parameters = new Dictionary<string, object>();
        parameters.Add("Ticket", ticket);
        try {
            await modal.ShowAsync<TicketDetailsModal>(title: "Ticket Details", parameters: parameters);
        }
        catch (Exception ex) {
            Console.WriteLine($"Error opening modal: {ex.Message}");
        }
    }
    private async Task CreateTicket(Ticket ticket)
    {
        var userId = await userService.GetUserIdAsync();
        ticket.UserId = userId;

        await ticketService.CreateTicketAsync(ticket);
        await modal.HideAsync();
        await LoadTicketsAsync();
        StateHasChanged();
    }
    private async Task LoadTicketsAsync() {
        TicketList = await ticketService.GetTicketsAsync();
        openTickets = TicketList.Count(t => t.Status == TicketStatus.Open);
        completedTickets = TicketList.Count(t => t.Status == TicketStatus.Completed);
    }
    string Truncate(string text, int maxLength) {
        if (string.IsNullOrEmpty(text)) return text;
        return text.Length <= maxLength ? text : text.Substring(0, maxLength) + "...";
    }
}
<style>
    .top-button {
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 1000;
    }
</style>
